form {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 150px;
}

label {
  font-size: 1.6rem;
  font-weight: bold;
}

input[type="text"],
input[type="url"] {
  width: 60%;
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 0;
  background-color: lightblue;
  font-size: 1.6rem;
  font-family: "Roboto Mono", monospace;
}

.submit-button {
   background-color: lightblue;
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
}

// Tablet
@media only screen and (max-width: 768px) {
  input[type="text"],
  input[type="url"] {
    width: 95%;
  }
}
